src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.springframework.org/schema/beans" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" 
	  xmlns:wd-hr="http://www.mulesoft.org/schema/mule/wd-hr"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      version="EE-3.6.2"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wd-hr http://www.mulesoft.org/schema/mule/wd-hr/current/mule-wd-hr.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

	<!-- In this file you should declare all your inbound endpoints in order to control the access to your application -->

	<flow name="triggerRoleChangeFlow" processingStrategy="synchronous" >
		<poll doc:name="fireup Worker synchronization">
			<fixed-frequency-scheduler frequency="${poll.frequencyMillis}" startDelay="${poll.startDelayMillis}" />
			<watermark variable="lastQueryDate" default-expression="${watermark.default.expression}" selector="FIRST" selector-expression="#[payload.LastModifiedDate]"/>
			<processor-chain doc:name="query Workers and set collection">
				<logger message="Fetching Workday to change role...#[groovy: new Date().format('yyyy-MM-dd HH:mm:ss')]" level="INFO" doc:name="Log 'Fetching workday updates...'"/>
				<wd-hr:get-workers config-ref="WorkdayHumanResource" doc:name="Get Workers from Workday Human Resource" workersRequest-ref="#[org.mule.templates.ChangeRoleEmployeeRequest.create(lastQueryDate)]"></wd-hr:get-workers>
                <data-mapper:transform config-ref="transform_Workday_workers_for_rolechange" doc:name="Transform Workday workers to map of values for role change in Salesforce">
                    <data-mapper:input-arguments>
                        <data-mapper:input-argument key="UpdatedThrough">#[payload.getRequestCriteria().getTransactionLogCriteriaData()[0].getTransactionDateRangeData().getUpdatedThrough()]</data-mapper:input-argument>
                    </data-mapper:input-arguments>
                </data-mapper:transform>
			</processor-chain>
		</poll>
        <expression-filter expression="#[payload.size() &gt; 0]" doc:name="Expression"/>

        <flow-ref name="roleChangeFlow" doc:description="roleChangeFlow"  doc:name="Trigger roleChangeFlow"/>
    </flow>

</mule>
